/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 500px;
    margin: 0 10px;
    box-shadow: 0 1px 10px green;
    padding: 10px;
    border-radius: 5px;
}

.logo {
    font-size: 200px;
}

#musicName {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
}

.controls button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.controls i {
    font-size: 60px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f7f7f7;
    transition: all .2s;
}

.controls i:hover {
    background-color: lightgray;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time span {
    font-size: 22px;
    color: #333;
}

.footer {
    width: 100%;
    margin-top: 20px;
}

.progress-bar {
    height: 8px;
    background-color: #ddd;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

.progress {
    height: 8px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 5px;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  main{
    background: #230230;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 320px;
    background: #8d2a03;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 4px rgba(243, 216, 211, 0.25);
  }
  
  h3{
    color: #fdfdfa;
    text-align: center;
    font-size: 24px;
  }
  
  p{
    color: #fefff9;
    opacity: 0.7;
    text-align: center;
    margin-top: 8px;
  }
  
  .volume{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .volume i{
    color: #262626;
    font-size: 20px;
  }
  
  .player{
    margin-block: 28px;
    display: flex;
    justify-content: space-between;
  }
  
  .player button{
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .player button i{
    color: #080808;
    font-size: 24px;
  }
  
  .progressBar {
    height: 8px;
    background-color: #121212;
    border-radius: 4px;
  }
  
  .progress {
    width: 0%;
    height: 100%;
    background-color: #0c4742;
    transition: width 0.1s;
  }

  .progressBar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}
  
  .musicTime{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  .musicTime span{
    color: #fdf9f9;
    opacity: 0.7;
    font-size: 12px;
  }

  /* #modalContainer {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    /* overflow: auto;
} */

/* .modal-section {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
} */ 

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.cicleSelect {
  height: 30px;
}

.timer__control {
  display: flex; 
  gap: 10px;
  justify-content: flex-end;
}

.toggle__timer {
  border-radius: 20px;
  height: 30px;
  width: 35px;
}

.timeInput {
  width: 62px;
  height: 30px;
  border-radius: 5px;
}

.musicSelect {
  width: 100%;
  border-radius: 10px;
  padding-left: 5px;
}

