*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  main{
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 320px;
    width: 80%;
    background: #8f8c8d;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 4px #4a2bd4;
  }

  .name-band {
    margin-top: 20px;
  }
  
  h3{
    color: #fde6dd;
    text-align: center;
    font-size: 24px;
  }
  
  p{
    color: #fde6dd;
    opacity: 0.7;
    text-align: center;
    margin-top: 8px;
  }
  
  .volume{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .volume i{
    color: #262626;
    font-size: 20px;
  }

  .control__player {
    display: flex;
    justify-content: center;
  }
  
  .player{
    margin-block: 28px;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  
  .player button{
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .player button i{
    color: #080808;
    font-size: 24px;
  }

  .bar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .progressBar {
    height: 8px;
    background-color: #121212;
    border-radius: 4px;
  }
  
  .progress {
    width: 0%;
    height: 100%;
    background-color: #046904;
    transition: width 0.1s;
  }

  .progressBar {
    width: 100%;
    height: 10px;
    background-color: #dddddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}
  
  .musicTime{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  .musicTime span{
    color: #fdf9f9;
    opacity: 0.7;
    font-size: 12px;
  }

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h4{
  margin-top: 6px;
  color: #fde6dd;
  margin: auto;
}

h5 {
  margin-bottom: 20px;
}

.exam-black {
  color: #000000;
}

.cicleSelect {
  height: 30px;
}

.timer_control {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.timer_controls {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;

  border: solid #5e5c5e 0.5px;
  border-radius: 8px;
  background-color: #757474;
  box-shadow: 8px 8px 8px 8px rgba(32, 32, 32, 0.993);
}

.timer__control {
  display: flex; 
  gap: 10px;
  flex-direction: column;
  justify-content: space-around;

  border: solid #5e5c5e 0.5px;
  border-radius: 8px;
  background-color: #757474;box-shadow: 8px 8px 8px 8px rgba(32, 32, 32, 0.993);
}

.toggle__timer {
  border-radius: 20px;
  height: 30px;
  width: 35px;
}

.toggle__time {
  border-radius: 10px;
  margin-bottom: 8px;
}

#input-alert {
  width: 22px;
  height: 30px;
  border-radius: 5px;
}

.musicSelect {
  width: 100%;
  border-radius: 10px;
  padding-left: 5px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  gap: 2%;
}

.cicle {
  font-weight: 600;
  width: 47%;
  height: 40px;
  border: 1px solid green;
  border-radius: 5px;
  margin: 2px;
  margin-top: 10px;
  box-shadow: 0px 0px 8px 4px rgba(20, 180, 33, 0.25);
}

#baile {
  font-size: 18px;
  font-weight: 600;
  width: 99%;
  height: 40px;
  border: 1px solid rgb(39, 48, 39);
  border-radius: 5px;
  margin: 2px;
  color: rgba(250, 253, 250, 0.774);
  background-color: rgb(39, 173, 39);
  box-shadow: 0px 0px 8px 4px rgba(10, 10, 10, 0.25);
}

#pre {
  color: rgb(20, 16, 16);
  background-color: rgb(116, 7, 7);
}

#preta {
  color: #8489B8;
  background-color: black;
}

#azul-av {
  color: #8489B8;
  background-color: rgb(4, 19, 87);
}

#azul {
  color: rgb(3, 53, 12);
  background-color: rgb(164, 246, 252);
}

#branca {
  color: rgb(3, 83, 3);
  background-color: rgb(255, 253, 253);
}

.selected {
  font-weight: 700;
  border: 2px solid rgb(13, 17, 13);
  border-radius: 5px;
  margin: 2px;
  box-shadow: 8px 8px 8px 8px rgba(32, 32, 32, 0.993); 
}


.hidden {
  display: none;
}

.visible {
  display: block;
}

h6 {
  color: blue;
  border: 1px solid red;
}

.about {
  border: 1px solid ;
  border-radius: 10px;
  margin: 10px;
  background-color: #5e5c5e;
  box-shadow: 8px 8px 8px 8px rgba(32, 32, 32, 0.993);
}